<!-- Utilisation de la classe Player -->
<h2>Nom : {{ playerName }}</h2>

<div><span>Id :</span>{{player.id}}</div>
<div><span>Nom :</span> {{player.name | uppercase }}</div>
<div><span>Prénom :</span>{{player.firstName}}</div>
<div><span>Date de naissance :</span>{{player.birthDate}}</div>
<div><span>Date de naissance :</span>{{player.birthDate | date:'longDate' }}</div>
<div><span>Date de naissance :</span>{{player.birthDate | mydateFormat }}</div>
<div><span>Prix :</span>{{player.prizeList}}</div>
<br>
<br>
<!-- Utilisation des Forms -->
<label>Nom :
    <input placeholder="name" value="{{player.name}}">
</label>
<br>
<label>Nom2 :
    <input [(ngModel)]="player.firstName" placeholder="Nom du joueur">
</label>
<br><br>

<!-- Utilisation des Reactivforms -->
<form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
    <label>First name : 
        <input placeholder="first name" formControlName="firstName">
    </label>

        <!-- Amélioration des Reactivforms -->
<div formGroupName="address">
    <h3>Address - </h3>
    <label> Street : <input placeholder="street" formControlName="street"> value : </label>
</div>


    <button type="submit" [disabled]="!playerForm.valid">Submit</button>
</form>
<div>{{ playerForm.value | json }}</div>

<!-- Reactiv forms 2 -->
 <h3>Version B</h3>
<form [formGroup]="playerbForm" (ngSubmit)="onSubmitb()">
    <div>
        <label for="name">Nom</label>
        <input id="name" formControlName="name">
    </div>
    <div>
        <label for="firstName">Prénom</label>
        <input id="firstName" formControlName="firstName">
    </div>
    <div>
        <label for="birthDate">Date de naissance</label>
        <input id="birthDate" formControlName="birthDate">
    </div>
    <div formGroupName="Address">Adresse :
        <div>
            <label for="street">Rue</label>
            <input id="street" formControlName="street">
        </div>
        <div>
            <label for="city">Ville</label>
            <input id="city" formControlName="city">
        </div>
        <div>
            <label for="state">Pays</label>
            <input id="state" formControlName="state">
        </div>
        <div>
            <label for="zip">Code Postal</label>
            <input id="zip" formControlName="zip">
        </div>
    </div>
    <div formArrayName="prizeList">
        <h3>Prix gagné</h3> <button type="button" (click)="addPrize()"> Ajouter prix</button>
        <div *ngFor="let prize of prizeList.controls; let i=index">
            <!-- répetition du template -->
             <label> Prix : 
                <input type="text" [formControlName]="i">
                <button type="button" (click)="removePrize(prize)">Supprimer le prix</button>
             </label>
        </div>
    </div>
    <button type="submit" [disabled]="!playerbForm.valid">Soumettre</button>
</form>
<!-- etape page 32 -->

